@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 Red Street<br />
    Liverpool, England<br />
    Phone: 
    0830371212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@LFCSTORE.com">Support@LFCSTORE.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@LFCSTORE.com">Marketing@LFCSTORE.com</a>
</address>