@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LFC Store</h1>
    <p class="lead">Here at LFC store, our goal is to give our buyers the best quality products on the market</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quality</h2>
        <p>
            Here at LFC store we sell only the highest quality goods.<br /> Our goods will never deterioite on quality with time and will always look as new as the first day you purchased them!
        </p>
        
    </div>
    <div class="col-md-4">
       <h2>Comfort</h2>
        <p>Our clothing items are the comfiest that you can buy. There is no doubt these items are made with the highest quality and the best materials to allow the customer with the best feeling product.
        </p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>